.footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100vw;
  background: linear-gradient(#eef1eb, #91ae84);
  box-shadow: #999;
  position: sticky;
  top: calc(100% - 80px);
  height: 60px;
  /* #91ae84 */
}