.top {
  position: fixed;
  height:60px;
  line-height: 60px;
  font-size: 18px;
  width: 100%;
  z-index: 1000; 
  /* background: linear-gradient(0deg, #0c8918, #fff 50%, #00e500); */
  background: linear-gradient( #0c8918, #40de5a);
  border-bottom: 1px solid #0c8918;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 10px 0 #0c8918;

}
.top .top_tit {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  margin-right: 100px;
  padding-left: 10px;
 


}
.top .top_tit::after {
 
}
.link{

  text-decoration: none;
  color:#fff;
  margin-left: 20px;

}
.activity {
  /* text-decoration: underline; */
  border-bottom:4px solid #0b2515;
  color:#0b2515;
  font-weight: bold;
  

}