.box {
  display: flex;
  justify-content: center;
  background: linear-gradient(#bfd1b1, white);
}
.box .container {
  margin-top: 20px;
  width:80vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  padding-top: 0;
  border-radius: 10px;

}
.box .container .con_main {
  flex: 1;
  padding-top: 60px;
}
.box .container .con_tab {
flex-basis: 140px;
background-color: #75ae4a;
border-radius: 10px;
}