.ce_dian {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #f5f5f5;
  padding-left: 40px;
  padding-top: 20px;
  border-radius: 10px;
  width: 92%;
  padding-bottom: 20px;
  box-shadow:0 4px 10px 0 rgb(155, 150, 150);
  margin: 0 auto;
  margin-bottom: 40px;

/* height: 100vh; */
/* overflow-y: scroll; */
}
.ce_dian_list {
min-width:14%;
/* padding: 10px; */
font-size: 18px;
font-weight: bold;
height: 60px;
line-height: 60px;
border-radius: 5px;
/* border: 1px solid rgb(92, 83, 83); */
box-shadow:0 2px 5px 0 rgb(155, 150, 150);
margin:  10px;
}
.city_act {
  color: rgb(114, 161, 30);
  background-color: rgb(202, 216, 187);
}
.ant-btn-default:not(:disabled):hover {
  color:  rgb(114, 161, 30);
}

.chart_style {
  text-align: center;
  width: 84%;
  border-radius: 10px;
  box-shadow:0 4px 10px 0 rgb(155, 150, 150);
  border: 2px solid rgb(135, 129, 129);
  margin: 0 auto;
}