.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  padding-top: 60px;
  /* height: 600px; */
  
}
::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
  }
.App-link {
  color: #61dafb;
}
/* .header>a {
  background-color:red;

} */





